/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


* {
    box-sizing: border-box;
}

html {
   font-family: Roboto, "Arial", sans-serif;
}

header {
    
}

nav {
    min-width: 48rem;
}

.blog{

  padding-top:0.25rem;
  padding-bottom:0.25rem;
  transform: rotate(7deg);
  color:black;
  text-decoration:line-through;
  text-transform:uppercase;
}

main, footer {
    margin: 1.25rem auto;
    width: 90%;
    min-width: 45rem;
}

h1 {
    font-size: 3.5rem;
    transform: rotate(-5deg);
    color: #333;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
    text-shadow: 2px 2px 2px #333;
    letter-spacing: 0.1rem;
}

h1 span {
    display: inline-block;
    font-size: 4rem;
    font-family: Ultra, serif;
    color: #eaeada;
    background-color: #82344c;
    padding: .1rem 1rem;
    border-radius: 1rem 0 1rem 0;
    font-weight: normal;
    box-shadow: 3px 3px 3px #333;
}

h2 {
    font-size: 1.75rem;
    color: #333;
}

h3 {
    font-size: 1rem;
    color: #333;
    margin: 1rem auto;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}


aside p {
    font-size: 0.75rem;
    line-height: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #333;
}







